body {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.container {
  -webkit-overflow-scrolling: touch;
}

#unit_import .word_list {
  max-height: 50vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.btn-group,
.nav .btn {
  margin: 0px 5px;
}

.input-group-btn .btn{
  margin: 0px;
}

.panel > .btn,
#word_body > .btn {
  margin: 0px 0px 16px 16px;
}

#sections .list-group-item-primary .btn {
  margin-right: 10px;
}

.btn-static:hover {
  background: none;
}

.theme-showcase .navbar .container {
  width: auto;
}

.table td.fit, 
.table th.fit {
  width: 1%;
}

.table {
  margin-bottom: 0px;
}

.table-no-border > tbody > tr:first-child > td,
.table-no-border > tbody > tr:first-child > th {
  border: none;
}

th input.form-control {
  width: 75px;
}

th .input-group input.form-control {
  width: 75px;
}

th {
  text-align: right;
  vertical-align: middle !important;
}

td {
  vertical-align: middle !important;
  word-break: break-word;
}

.col-auto {
  padding-right: 0px;
}

.input-group-btn {
  vertical-align: bottom;
}

.progress-btn {
  position: relative;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}

.progress-btn > .progress {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: none;
}

.progress-btn > .btn {
  margin-bottom: 0px;
}

.slider {
  -webkit-appearance: none;
  background: linear-gradient(to right, red 0%, orange 50%, lime 100%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%; 
  background: dimgray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: dimgray;
  cursor: pointer;
}

ruby {
  ruby-align: center;
}
